body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 0;
    margin:10%;
    justify-items: center;
    height: 40vh;
}
div{
    margin: 2%;
}
li.tasks_li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tasks_div label{
    display: inline;
}
.tasks_div input{
    display: inline;   
}